{{^isFreeFormObject}}{{#isPrimitiveType}}{{dataType}}{{/isPrimitiveType}}{{^isPrimitiveType}}{{^vendorExtensions.x-is-one-of-primitives}}{{#isModel}}{{modelPackage}}.{{complexType}}{{/isModel}}{{/vendorExtensions.x-is-one-of-primitives}}{{/isPrimitiveType}}{{/isFreeFormObject}}