{{#isArray}}{{#items}}{{^isPrimitiveType}}{{modelPackage}}.{{/isPrimitiveType}}{{dataType}}{{/items}}{{/isArray}}{{^isArray}}{{^isPrimitiveType}}{{modelPackage}}.{{/isPrimitiveType}}{{dataType}}{{/isArray}}{{#isEnum}}{{#allowableValues}} { mustBeMember({{^required}}optionals.{{/required}}{{paramName}},[{{#values}}"{{.}}"{{^-last}},{{/-last}}{{/values}}]) }{{/allowableValues}}{{/isEnum}}