{
  "version": "1.0.0",
   "pathmap": [
       {
           "match": "{{basePathWithoutHost}}/.*",
           "webhandler": {
               "component": "{{topLevelPackageName}}",
               "function": "server"
           }
       }
    ]
}
